body {
	background: lightgray;
}

img.displayed {
	display: block;
    margin-left: auto;
    margin-right: auto 
}

p.picture_title{
	text-align: center;	
}

table.points {
	background: gray;
	width: 30%;

}

table.assists {
	background: gray;
	width: 30%;
}

table.rebounds {
	background: gray;
	width: 30%;
}

#external_links nav {
  list-style-type: none;
  padding-left: 50px;
  width: 20%;
}

@media screen and (max-width: 500px) {
  body {
    background-color: lightgray;
  }
}