---
layout: default
title: blog
comments: true
---

<!-- template for posts -->

{% include base.html %}

<br>

<link rel="stylesheet" href="{{base}}/css/sharing-buttons.css">



<div style="width: 100%; overflow: hidden;">
    <div style="width: 100px; float: left;"> <img src="{{site.url}}//images/t-logo.png" alt="logo" /> </div>
    <div style="margin-left: 120px;"> <h2>{{page.title}}</h2> </div>
</div>

<hr>

  <!-- Post's content -->
  <div class="post">	

    <p class="meta">{{ page.date | date_to_string }} | <a href="{{site.url}}/feed.xml">RSS</a> | <a href="{{base}}/blog/index.html#list-posts">Back to list of posts</a> 
    <div class="container">
    <div class="row">        
    
      <!-- From https://codepen.io/codename065/pen/doyRNw/?editors=1111-->
      <div class="col-md-12">      
        <a id="increase-mailto" href="mailto:contact@example.com" class="btn-social btn-digg mailto" title="Share via Email"><i class="fa fa-envelope"></i></a>

        <a id="increase-linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url={{site.url}}{{page.url}}" target="_blank" class="btn-social btn-digg"><i class="fa fa-linkedin" title="Share on LinkedIn"></i></a>      

        <a id="increase-twitter" href="http://twitter.com/share?url={{site.url}}{{page.url}}&text=Description" target="_blank" class="btn-social btn-digg"><i class="fa fa-twitter" title="Share on Twitter"></i></a>         

        <a id="increase-facebook" href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank" class="btn-social btn-digg"><i class="fa fa-facebook" title="Share on Facebook"></i></a>              
      </div>

      <!-- add backend logic -->
      <!-- add backend logic -->
      <!-- add backend logic -->
      <div style="width: 100%; overflow: hidden;">
        
        <div style="width: 600px; float: left;"> 
          <div id="content-mailto" style="display: none;">1</div>
          <div id="content-linkedin" style="display: none;">1</div>
          <div id="content-twitter" style="display: none;">1</div>
          <div id="content-facebook" style="display: none;">1</div>
        </div>

        <div style="margin-left: 620px;"> 
          
        </div>
        
      </div>      

    </p>    

    <br>

  <!-- Post's content -->
  <div>
    {{content}}
    {% if page.comments %}
      <div id="disqus_thread"></div>
      <script>
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://tmoudiki.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> 
    {% endif %}
  </div>


  <br>

  <!-- Mailer lite -->
  <div class="ml-form-embed"
        data-account="1645632:e9k2y0f6a0"
        data-form="1465116:b1o3c8">
  </div> 

<br>

<p><b>Previous publications</b></p>

<ul class="myposts">
	{% for post in site.posts %}
	    <li><a href="{{ post.url }}">{{ post.title}}</a>
	    <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
	    </li>
	{% endfor %}
</ul>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>


<!-- add backend logic -->
<!-- add backend logic -->
<!-- add backend logic -->
<script type="text/javascript">    
$(document).ready(function() {

  var size_ini_mailto = $("#content-mailto").val();
  var size_ini_linkedin = $("#content-linkedin").val();
  var size_ini_twitter = $("#content-twitter").val();
  var size_ini_facebook = $("#content-twitter").val();

  $("#increase-mailto").on("click", function(event) {      
      var size_increase = size_ini_mailto++;
      $("#content-mailto").html(size_increase);
  })

  $("#increase-linkedin").on("click", function(event) {    
      var size_increase = size_ini_linkedin++;
      $("#content-linkedin").html(size_increase);
  })

  $("#increase-twitter").on("click", function(event) {      
      var size_increase = size_ini_twitter++;
      $("#content-twitter").html(size_increase);
  })

  $("#increase-facebook").on("click", function(event) {  
      var size_increase = size_ini_facebook++;
      $("#content-facebook").html(size_increase);
  })

})
</script>


<span></span>